:root {
  --primary: #00acff;
  --primary-alt: #0099e6;
}

.card {
  border: 1px solid rgb(226, 232, 240);
  border-radius: 0.25rem;
  padding: 30px;
  max-width: 100%;
}

.dark .card {
  border: 1px solid rgba(45, 55, 72, var(--tw-border-opacity));
}

/* Fix for the footer */
.flex-col-reverse.justify-between > a.text-sm {
  align-self: flex-start;
}

.hide-light {
  display: none !important;
}

.dark .hide-dark {
  display: none !important;
}

.dark .hide-light {
  display: block !important;
}

h1 {
  margin-top: 40px !important;
}

main {
  width: 768px;
}

footer .text-gray-600 a {
  margin-right: 10px;
}
